/* For documentation: Search the css for a view but addind css:viewName */

.addborder {
    border: solid red !important;
}


/* bootstrap custom  */

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

/* custom classes  */

/* buttons  */



.btn-login {
    background-color: #CB9219;
    border-color: #CB9219;
    color: white;
    border-radius: 10px;
    height: 50px;
    font-weight: 500;
}


.btn-main {
    background-color: #CB9219;
    /* Custom background color */
    border-color: #CB9219;
    /* Custom border color */
    color: white;
    /* Text color */
    border-radius: 4px;
    /* Rounded corners */
    height: 37.5px;
    /* Fixed height */
    font-weight: 500;
    /* Font weight */
    display: inline-flex;
    /* Flexbox for centering text */
    align-items: center;
    /* Center text vertically */
    justify-content: center;
    /* Center text horizontally */
    padding: 0 20px;
    /* Horizontal padding */
    text-align: center;
    /* Center text alignment */
    text-decoration: none;
    /* Remove underline */
}

.btn-back-main {
    background-color: white;
    /* Custom background color */
    border-color: #CB9219;

    border: solid 1.7px;


    color: #CB9219;
    /* Text color */
    border-radius: 4px;
    /* Rounded corners */
    height: 37.5px;
    /* Fixed height */
    font-weight: 550;
    /* Font weight */
    display: inline-flex;
    /* Flexbox for centering text */
    align-items: center;
    /* Center text vertically */
    justify-content: center;
    /* Center text horizontally */
    padding: 0 20px;
    /* Horizontal padding */
    text-align: center;
    /* Center text alignment */
    text-decoration: none;
    /* Remove underline */
}







#closeLessonModal {
    color: #CB9219;

}

#closeLessonModal:hover {
    color: #a67c1c;

}










.btn-main:hover {
    color: #fff;
    background-color: #a67c1c;
    border-color: #a67c1c;
}

.btn-main:focus,
.btn-main.focus {
    box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}



.btn-back-main:hover {
    color: #a67c1c;
    background-color: white;
    border-color: #a67c1c;
}

.btn-back-main:focus,
.btn-back-main.focus {
    box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}








.btn-main:disabled,
.btn-main.disabled {
    color: #fff;
    background-color: #a67c1c;
    border-color: #a67c1c;
}

.btn-main:not(:disabled):not(.disabled):active,
.btn-main:not(:disabled):not(.disabled).active,
.show>.btn-main.dropdown-toggle {
    color: #fff;
    background-color: #a67c1c;
    border-color: #a67c1c;
}

.btn-main:not(:disabled):not(.disabled):active:focus,
.btn-main:not(:disabled):not(.disabled).active:focus,
.show>.btn-main.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}



.btn-main-1 {
    background-color: #e8e8e8;
    /* Custom background color */
    border-color: #e8e8e8;
    /* Custom border color */
    color: black;
    /* Text color */
    border-radius: 4px;
    /* Rounded corners */
    height: 37.5px;
    /* Fixed height */
    font-weight: 500;
    /* Font weight */
    display: inline-flex;
    /* Flexbox for centering text */
    align-items: center;
    /* Center text vertically */
    justify-content: center;
    /* Center text horizontally */
    padding: 0 20px;
    /* Horizontal padding */
    text-align: center;
    /* Center text alignment */
    text-decoration: none;
    /* Remove underline */
}


.btn-main-1:hover {
    color: black;
    background-color: #c9c9c9;
    border-color: #c9c9c9;
}

.btn-main-1:focus,
.btn-main-1.focus {
    box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

.btn-main-1:disabled,
.btn-main-1.disabled {
    color: #fff;
    background-color: #c9c9c9;
    border-color: #c9c9c9;
}

.btn-main-1:not(:disabled):not(.disabled):active,
.btn-main-1:not(:disabled):not(.disabled).active,
.show>.btn-main-1.dropdown-toggle {
    color: #fff;
    background-color: #c9c9c9;
    border-color: #c9c9c9;
}

.btn-main-1:not(:disabled):not(.disabled):active:focus,
.btn-main-1:not(:disabled):not(.disabled).active:focus,
.show>.btn-main-1.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}



.btn-main-2 {
    background-color: #e8e8e8;
    /* Custom background color */
    border-color: #e8e8e8;
    /* Custom border color */
    color: black;
    /* Text color */
    border-radius: 4px;
    /* Rounded corners */
    height: 37.5px;
    /* Fixed height */
    font-weight: 500;
    /* Font weight */
    display: inline-flex;
    /* Flexbox for centering text */
    align-items: center;
    /* Center text vertically */
    justify-content: center;
    /* Center text horizontally */
    padding: 0 20px;
    /* Horizontal padding */
    text-align: center;
    /* Center text alignment */
    text-decoration: none;
    /* Remove underline */
}

.btn-main-2:hover {
    color: black;
    background-color: #6aa4fc;
    border-color: #3988ff;
}




.btn-main-3 {
    background-color: #e8e8e8;
    /* Custom background color */
    border-color: #e8e8e8;
    /* Custom border color */
    color: black;
    /* Text color */
    border-radius: 4px;
    /* Rounded corners */
    height: 37.5px;
    /* Fixed height */
    font-weight: 500;
    /* Font weight */
    display: inline-flex;
    /* Flexbox for centering text */
    align-items: center;
    /* Center text vertically */
    justify-content: center;
    /* Center text horizontally */
    padding: 0 20px;
    /* Horizontal padding */
    text-align: center;
    /* Center text alignment */
    text-decoration: none;
    /* Remove underline */
}



.btn-main-3:hover {
    color: black;
    background-color: #da5461;
    border-color: #dc3545;
}



.btn-back {
    background-color: #e8e8e8;
    /* Custom background color */
    border-color: #e8e8e8;
    /* Custom border color */
    color: black;
    /* Text color */
    border-radius: 4px;
    /* Rounded corners */
    height: 37.5px;
    /* Fixed height */
    font-weight: 500;
    /* Font weight */
    display: inline-flex;
    /* Flexbox for centering text */
    align-items: center;
    /* Center text vertically */
    justify-content: center;
    /* Center text horizontally */
    padding: 0 20px;
    /* Horizontal padding */
    text-align: center;
    /* Center text alignment */
    text-decoration: none;
    /* Remove underline */
}


.btn-back:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0069d9;
}

.btn-back:focus,
.btn-back.focus {
    box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

.btn-back:disabled,
.btn-back.disabled {
    color: #fff;
    background-color: #a67c1c;
    border-color: #a67c1c;
}

.btn-back:not(:disabled):not(.disabled):active,
.btn-back:not(:disabled):not(.disabled).active,
.show>.btn-back.dropdown-toggle {
    color: #fff;
    background-color: #a67c1c;
    border-color: #a67c1c;
}

.btn-back:not(:disabled):not(.disabled):active:focus,
.btn-back:not(:disabled):not(.disabled).active:focus,
.show>.btn-back.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}


.btn-2 {
    background-color: #FFCA58;
    /* Custom background color */
    border-color: #FFCA58;
    /* Custom border color */
    color: white;
    /* Text color */
    border-radius: 7px;
    /* Rounded corners */
    height: 35px;
    /* Fixed height */
    font-weight: 500;
    /* Font weight */
    display: inline-flex;
    /* Flexbox for centering text */
    align-items: center;
    /* Center text vertically */
    justify-content: center;
    /* Center text horizontally */
    padding: 0 20px;
    /* Horizontal padding */
    text-align: center;
    /* Center text alignment */
    text-decoration: none;
    /* Remove underline */


}

.btn-3 {


    background-color: #d82d2d;
    /* Custom background color */
    border-color: #d82d2d;
    /* Custom border color */
    color: white;
    /* Text color */
    border-radius: 7px;
    /* Rounded corners */
    height: 35px;
    /* Fixed height */
    font-weight: 500;
    /* Font weight */
    display: inline-flex;
    /* Flexbox for centering text */
    align-items: center;
    /* Center text vertically */
    justify-content: center;
    /* Center text horizontally */
    padding: 0 20px;
    /* Horizontal padding */
    text-align: center;
    /* Center text alignment */
    text-decoration: none;
    /* Remove underline */


}











.btn-register {
    background-color: #CB9219;
    border-color: #CB9219;
    color: white;

}



.btn-register:hover {
    color: #fff;
    /* Text color on hover */
    background-color: #A67C1F;
    /* Background color on hover */
    border-color: #A67C1F;
    /* Border color on hover */
}

/* css:header  */

header {
    z-index: 1000;
}

/* css:body */

body {
    background-color: #FFCA58;
    /* font-family: sans-serif; */

    font-family: Arial, sans-serif;

}

/* css:langing-page */

.landing-page {
    display: flex;
    height: 100vh;

    /* border: solid; */
    /* padding: 0px; */
}

.landing-page .left-side {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 15%;
}

.landing-page .right-side {
    display: flex;

    justify-content: center;
    align-items: center;
    padding-right: 15%;
}

.login-form {
    border-radius: 5px;
    padding: 50px 50px 70px 50px;
    background-color: white;
    width: 100%;
    max-width: 500px;
    align-items: center;
    /* Add shadow on right and bottom */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}


.forget-password {
    margin-top: 7%;
    margin-bottom: 7%;
    /* Add space between button and label */
    color: #CB9219;
    font-weight: 500;

    display: block;
    /* Ensure it behaves like a block element if needed */

    text-decoration: none;

}

.forget-password:hover {
    text-decoration: underline;
    /* Underline on hover */
    color: #A67C1F;
}

.form-control {
    height: 50px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .landing-page .left-side {
        padding-left: 0;
        /* Remove padding on smaller screens */
    }

    .landing-page .right-side {

        padding-right: 0;
    }
}

/* css:register page  */

.modal-overlay {
    display: none;
    /* Hide the overlay by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1050;



}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;

    /* add  */

    max-height: 90vh;
    overflow-y: auto;

}






.blurred {
    filter: blur(5px);
    /* Apply blur effect to the background */
}








/* css:components  */

/* css:header  */

.navbar-brand img {
    max-height: 70px;
    margin-left: 20%;

}

/* css:sidebar  */

/* #sidebar {

    height: calc(100vh - 150px);
    position: fixed;
    top: 120px;
    left: 0;
    width: 400px;
    background-color: #1A2325;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
    z-index: 100;
}


.btn-nav {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    background: linear-gradient(to right, #6A6C6C, #253036);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.btn-nav:hover {
    background: linear-gradient(to right, #5a5b5b, #1e2b2b);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

} */

/* css:sidebar update  */

#sidebar {
    height: calc(100vh - 150px);
    position: fixed;
    top: 120px;
    left: 0;
    width: 300px;
    background-color: #1A2325;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
    z-index: 100;
    transition: width 0.3s;
    border: solid;

    overflow-y: auto;


}

#sidebar.collapsed {
    width: 60px;

}

.btn-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
    margin-bottom: 15px;
    background: linear-gradient(to right, #6A6C6C, #253036);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.btn-nav .btn-text {
    margin-left: 10px;
}

.btn-nav:hover {
    background: linear-gradient(to right, #5a5b5b, #1e2b2b);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    #sidebar {
        width: 100px;
    }

    .btn-nav {
        justify-content: center;
        text-align: center;
        padding-left: 0 px;
    }

    .btn-nav .btn-text {
        display: none;
    }

    .btn-nav .btn-icon {
        font-size: 20px;
        /* Adjust icon size if needed */
    }
}

/* css:main content container */



/* css:learner.course */



/* .custom-container {
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

} */


/* css:learner.homepage updated */


.main-container {
    position: fixed;
    left: 310px;
    top: 120px;
    width: calc(100% - 320px);
    z-index: 1000;
    background-color: white;
    padding: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    border: 1px solid #ddd;

    border-radius: 8px;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: calc(100vh - 150px);

    /* New line: Make the container a flex container */
    display: flex;

    /* New line: Stack child elements vertically */
    flex-direction: column;
}

.card-container {


    height: 100%;
    overflow-x: auto;
    white-space: nowrap;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.card {
    /* Layout */
    flex: 1 0 auto;
    min-width: 370px;
    max-width: 370px;
    height: 600px;
    /* height: 100%; */
    /* margin-right: 10px; */
    /* Box Model */
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    /* Background */
    background-color: #ebe4cc;
    /* Overflow and Word Wrapping */
    overflow: hidden;
    overflow-wrap: break-word;
    white-space: normal;
}

.cardsmall {
    /* Layout */
    flex: 1 0 auto;
    min-width: 370px;
    max-width: 370px;
    height: 300px;
    /* height: 100%; */
    /* margin-right: 10px; */
    /* Box Model */
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);


    /* Background */
    background-color: #ebe4cc;
    /* Overflow and Word Wrapping */
    overflow: hidden;
    overflow-wrap: break-word;
    white-space: normal;
}



.card-img {
    width: 100%;
    height: 300px;
    /* Fixed height */
    object-fit: cover;
    /* Ensures the image covers the area without distortion */
    display: block;

}

.card-img-small {
    width: 100%;
    height: 230px;
    /* Fixed height */
    object-fit: cover;
    /* Ensures the image covers the area without distortion */
    display: block;

}







.card-content {
    padding: 16px;
    /* Padding inside the card */
}

.card-title {
    margin: 0 0 8px;
    /* Margin for spacing */
    font-size: 18px;
    /* Font size for title */
    color: #333;
    /* Text color */
}

.card-description {
    margin: 0;
    font-size: 14px;
    /* Font size for description */
    color: #666;

    /* Text color */
}


.top {

    padding-bottom: 15px;

    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* button */

.redirect-link {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.redirect-link:hover {
    background-color: #0056b3;
}






/* Add responsiveness if needed */
@media (max-width: 768px) {
    .main-container {
        left: 110px;
        /* Adjust the left position for smaller screens */
        width: calc(100% - 120px);

        background-color: none;




        /* Adjust width for smaller screens */
    }

    .card {

        margin-bottom: 10px;



        min-height: auto;
        max-height: 700px;
    }
}

/* css:table */

.table-container {
    height: calc(100% - 110px);
    /* Adjust height as needed */
    overflow-y: auto;
    /* Adds vertical scroll bar if content exceeds the max height */
}

/* css:course/show  */

/* .cardsmall {

    
    display: flex;
    flex-direction: column;
    
    overflow: hidden;
    
    width: 290px;
    height: 200px;
    border: 1px solid #ddd;
    box-sizing: border-box;

    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

} */

.img-cont {
    width: 100%;
    height: 150px;
    overflow: hidden;
    /* Hide any part of the image that overflows the container */
    position: relative;
    /* Positioning context for centering */
    display: flex;
    /* Use flexbox for centering */
    align-items: center;
    /* Vertically center the image */
    justify-content: center;
    /* Horizontally center the image */
}

.img-cont img {
    max-width: 100%;

}

.heading {
    display: flex;
    /* Centers the container horizontally within its parent */
    width: 100%;
    /* Makes sure the container takes up the full width of its parent */
}

.heading h4 {
    margin: 5;
    /* Removes default margin */
    text-align: left;
    /* Ensures text is left-aligned within the container */
}




.button-container {
    width: 100%;
    display: flex;
    gap: 20;

}

.button-container a,
.button-container form {
    flex: 1;
    /* Each button/form will take equal width */
}

.button-container a:not(:last-child),
.button-container form:not(:last-child) {
    margin-right: 5px;
    /* Adds space on the right side of each button/form except the last one */
}


.button-container button {
    width: 100%;
    /* Ensures the button takes full width of its parent */
    border: none;
    /* Removes default border for consistency */
}

.button-container form {
    display: flex;
    /* Ensures the button inside the form also takes full width */
}


/* css:admin.course.index  */



.image-thumbnail {
    width: 100%;
    /* max-width: 450px; */
    height: 100%;
    object-fit: cover;
}


.vid-thumbnail {
    width: 100%;
    height: auto;
    object-fit: cover;
}


@media (max-width: 768px) {
    .image-thumbnail {
        max-width: 300px;
    }
}

@media (max-width: 576px) {
    .image-thumbnail {
        max-width: 200px;
    }
}


/* modal for lesson  */

.l-modal-overlay {
    display: none;
    /* Hide the modal by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1050;
}

.l-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    max-height: 90vh;
    overflow-y: auto;
}

#modalLessonContents {
    padding-right: 20px;
    padding-left: 20px;
}

.content-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
    /* Adjust spacing between rows */
}

.content-text,
.content-english {

    text-align: left;
    /* Align text to the left */

    flex: 1;
}




.content-separator {
    margin: 0 10px;
    /* Adjust spacing around the dash */
    white-space: nowrap;
    /* Prevents the dash from wrapping */
    text-align: center;
    /* Centers the dash */
}


/* this is for content   */


.box-container {
    display: flex;
    justify-content: center;
    /* Horizontally center the boxes */

}

.box {
    width: 275px;
    height: 376px;
    margin: 0 20px;
    /* text-align: center; */
    /* padding: 10px; */
    box-sizing: border-box;
    /* border: 1px solid gray; */
    display: flex;
    justify-content: center;
    align-items: center;


}

.box-2 {
    width: 275px;
    height: 376px;
    margin: 0 5px;

    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    text-align: left;

}

.vid-content {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.quiz-cont {
    border-radius: 10px;
    padding-top: 20px;
    border: 1px solid #CB9219;
    /* Thinner border */
}

.selected {
    background-color: #007bff;
    /* Change to your desired color */
    color: #fff;
    /* Text color */
}


.scrollable {

    /* Subtract padding from the height of the parent container */
    overflow-y: auto;
    /* Enable vertical scrolling */
    /* border: 1px solid #ddd; */
    /* Optional: to visually show the borders */
    padding: 10px;
    margin-bottom: 10px;

    /* Optional: to add some padding inside the column */
}